In [13]:
import pandas as pd
data = pd.read_excel("students.xls")

In [14]:
data.head()

   Roll Number                  Name  Marks
0            1          Ashwin Kumar     40
1            2                 Raina     80
2            3          Rohit Sharma     89
3            4  Mahendra Singh Dhoni     56
4            5                Dhawan     87

In [21]:
data["Marks"]

2    89
3    56
4    87
5    34
6     9
7    67
Name: Marks, dtype: int64